<div>

<%= form_for(@user), :html => {:multipart => true} do |f| %>
  <%= f.file_field :profilepic %>
<% end %></div>
<div class="actions">
<%= f.submit "Upload" %>
</div>

<% @post.each  do |image|  %>
  <img src="/images/users/<%= image["filename"] %>"/>
  <br/>
  <%= image["width"] %> x <%= image["height"] %>
  <br/>

<% end %>